#root {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  background-color: #fff;
  overflow: hidden auto;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  align-items: flex-start;
  justify-content: flex-start;
}
#root .hidden {
  display: none;
}
#root .modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#root .modal-bg.on {
  display: block;
}
#root .mobile-nav-root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
#root .mobile-nav-root.on {
  display: block;
}
#root .mobile-nav-root .mobile-nav {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
}
#root .mobile-nav-root .mobile-nav > ul {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}
#root .mobile-nav-root .mobile-nav > ul > li {
  flex: 0 0 30px;
  margin-bottom: 10px;
}
#root .mobile-nav-root .mobile-nav > ul > li .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  height: 30px;
}
#root .mobile-nav-root .mobile-nav > ul > li .title > .mobile-close-btn {
  flex: 0 0 auto;
  width: 20px;
}
#root .mobile-nav-root .mobile-nav > ul > li .title > .mobile-close-btn:hover img {
  filter: brightness(1.5);
}
#root .mobile-nav-root .mobile-nav > ul > li .title > .mobile-close-btn img {
  width: 100%;
  height: 100%;
}
#root .mobile-nav-root .mobile-nav > ul > li:hover > a > p {
  color: #d0112b;
}
#root .mobile-nav-root .mobile-nav > ul > li > a > p {
  font-size: 18px;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb {
  height: 0;
  max-height: 0;
  overflow: hidden;
  margin-top: 10px;
  transition: all 0.3s ease;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb.on {
  height: auto;
  max-height: 300px;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb > dd {
  width: 100%;
  margin: 5px 0;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb > dd:hover a {
  color: #333;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb > dd > a {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #666;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box > ul {
  display: flex;
  flex-flow: row nowrap;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box > ul > li > button {
  font-size: 14px;
  color: #666;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box > ul > li.on > button {
  font-size: 14px;
  font-weight: 500;
  color: #d0112b;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box > ul > li:first-child {
  margin-right: 10px;
}
#root .mobile-nav-root .mobile-nav-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
@media screen and (min-width: 1440px) {
  #root .mobile-nav-root {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  #root .mobile-nav-root .mobile-nav {
    width: 100%;
  }
}

#header {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
#header #bg {
  width: 100%;
  height: 250px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  left: 0;
  transition: top 0.3s;
}
#header #bg.off {
  opacity: 0;
  top: -100px;
}
#header #bg.on {
  opacity: 1;
  top: 100px;
}
#header .inner {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  width: 100%;
  padding: 0 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#header .inner .left-area {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  align-items: center;
}
#header .inner .left-area .logo {
  flex: 0 0 auto;
}
#header .inner .left-area .gnb {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
#header .inner .left-area .gnb > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
}
#header .inner .left-area .gnb > ul > li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
}
#header .inner .left-area .gnb > ul > li:nth-child(3) a, #header .inner .left-area .gnb > ul > li:last-child a {
  padding: 0 20px;
}
#header .inner .left-area .gnb > ul > li a {
  display: block;
  padding: 0 45px;
}
#header .inner .left-area .gnb > ul > li a > p {
  font-weight: 400;
  font-size: 20px;
}
#header .inner .left-area .gnb > ul > li a:hover > p {
  color: #d0112b;
}
#header .inner .left-area .gnb > ul > li a:hover .snb {
  display: block;
  top: 110px;
}
#header .inner .left-area .gnb > ul > li > .snb {
  position: fixed;
  top: 110px;
  transition: all 0.3s;
  z-index: 1;
}
#header .inner .left-area .gnb > ul > li > .snb > dd {
  margin-bottom: 15px;
}
#header .inner .left-area .gnb > ul > li > .snb > dd:hover a {
  color: #d0112b;
}
#header .inner .left-area .gnb > ul > li > .snb.on {
  opacity: 1;
}
#header .inner .left-area .gnb > ul > li > .snb.off {
  opacity: 0;
}
#header .inner .right-area {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
}
#header .inner .right-area > div {
  padding: 10px 35px;
  border: 1px solid #e0e0e0;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
}
#header .inner .right-area > div p {
  padding-right: 10px;
}
#header .inner .right-area > div::before {
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  transform: rotate(-135deg);
  position: absolute;
  top: 15px;
  right: 15px;
}
#header .inner .right-area > div.open::before {
  transform: rotate(45deg);
  top: 17px;
}
#header .inner .right-area > div.open + .lang-list {
  display: flex !important;
}
#header .inner .right-area .lang-list {
  display: none;
  flex-flow: column nowrap;
  width: 110px;
  height: auto;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 69px;
  right: 100px;
}
#header .inner .right-area .lang-list > .lang-list-item {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#header .inner .right-area .lang-list > .lang-list-item:hover {
  background-color: #f6f5f5;
}
#header .inner .right-area .lang-list > .lang-list-item:active {
  background-color: #f2f2f2;
}
@media screen and (min-width: 1440px) {
  #header .inner .left-area .mobile-menu-btn {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  #header #bg {
    display: none !important;
  }
  #header .inner .left-area {
    flex: 1 1 auto;
    justify-content: flex-start;
  }
  #header .inner .left-area .logo {
    width: 180px;
  }
  #header .inner .left-area .gnb {
    display: none;
  }
  #header .inner .left-area .mobile-menu-btn {
    width: 24px;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(0, -50%);
  }
  #header .inner .left-area .mobile-menu-btn img {
    width: 100%;
    height: 100%;
  }
  #header .inner .right-area {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #header .inner {
    padding: 0 20px;
  }
  #header .inner .left-area {
    flex: 1 1 auto;
    justify-content: center;
  }
  #header .inner .left-area .logo {
    width: 130px;
  }
  #header .inner .left-area .gnb {
    display: none;
  }
  #header .inner .left-area .mobile-menu-btn {
    width: 18px;
    right: 20px;
  }
  #header .inner .right-area {
    display: none;
  }
}

#main {
  width: 100%;
  padding: 130px 0;
}
#main .inner {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-flow: row nowrap;
}
#main .inner article {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 1 auto;
}
#main .inner article .text {
  flex: 0 0 40%;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 10px;
}
#main .inner article .text strong {
  font-weight: 400;
  font-size: 20px;
}
#main .inner article .text h3 {
  font-weight: 700;
  font-size: 34px;
  margin: 20px 0;
}
#main .inner article .text a {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 40px;
  padding: 0 15px 0 20px;
  width: 210px;
  align-items: center;
  justify-content: space-between;
  background-color: #166936;
  border-radius: 40px;
}
#main .inner article .text a p {
  color: #fff;
}
#main .inner article .text a > span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 10px;
}
#main .inner article .text a > span img {
  height: 12px;
}
#main .inner article .slide {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 60%;
}
#main .inner article .slide .slide-bg {
  width: 72px;
  height: 480px;
  background: rgba(22, 105, 54, 0.16);
  border-radius: 40px 0px 0px 40px;
}
#main .inner article .slide .slide-wrap {
  width: 100%;
  height: 480px;
  background-color: #ccc;
  position: relative;
}
#main .inner article .slide .slide-wrap .slide-btn-wrap {
  display: flex;
  flex-flow: row nowrap;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
#main .inner article .slide .slide-wrap .slide-btn-wrap > li {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
#main .inner article .slide .slide-wrap .slide-btn-wrap > li button img {
  width: 13px;
}
#main .inner article .slide .slide-wrap .slide-btn-wrap > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#main .inner article .slide .slide-wrap .slide-btn-wrap > li:active {
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1440px) {
  #main {
    padding: 100px 0;
  }
  #main .inner article .text {
    padding-right: 10px;
  }
  #main .inner article .text strong {
    font-size: 16px;
  }
  #main .inner article .text h3 {
    font-size: 30px;
  }
  #main .inner article .slide .slide-bg {
    height: 400px;
  }
  #main .inner article .slide .slide-wrap {
    height: 400px;
  }
}
@media screen and (max-width: 1200px) {
  #main {
    padding: 20px 0 30px;
  }
  #main .inner {
    padding: 0;
  }
  #main .inner article {
    display: flex;
    flex-flow: column-reverse nowrap;
  }
  #main .inner article .text {
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    background: rgba(22, 105, 54, 0.16);
    border-radius: 0px 0px 40px 40px;
  }
  #main .inner article .text strong {
    font-size: 14px;
  }
  #main .inner article .text h3 {
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
  }
  #main .inner article .text a {
    width: 180px;
  }
  #main .inner article .text a p {
    font-size: 12px;
  }
  #main .inner article .slide {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    width: 100%;
  }
  #main .inner article .slide .slide-bg {
    display: none;
  }
  #main .inner article .slide .slide-wrap {
    flex: 0 0 auto;
  }
  #main .inner article .slide .slide-wrap .slide-btn-wrap {
    width: 80px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  #main {
    padding: 0 0 30px;
  }
}

/*# sourceMappingURL=style.css.map */
