// npx sass --watch css/style.scss css/style.css

#root {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  background-color: #fff;

  overflow: hidden auto;

  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  align-items: flex-start;
  justify-content: flex-start;

  .hidden {
    display: none;
  }

  .modal-bg {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.on {
      display: block;
    }
  }

  // 모바일 메뉴
  .mobile-nav-root {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    &.on {
      display: block;
    }
    .mobile-nav {
      display: flex;
      flex-flow: column nowrap;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      width: 300px;
      height: 100%;
      background-color: #fff;
      padding: 20px;
      border-left: 1px solid #e0e0e0;
      > ul {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        > li {
          flex: 0 0 30px;
          margin-bottom: 10px;
          .title {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
            flex: 1 1 auto;
            height: 30px;
            > .mobile-close-btn {
              flex: 0 0 auto;
              width: 20px;
              &:hover {
                img {
                  filter: brightness(1.5);
                }
              }
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          &:hover {
            > a > p {
              color: #d0112b;
            }
          }
          > a {
            > p {
              font-size: 18px;
            }
          }
          .mobile-snb {
            height: 0;
            max-height: 0;
            overflow: hidden;
            margin-top: 10px;
            transition: all 0.3s ease;
            &.on {
              height: auto;
              max-height: 300px;
            }
            > dd {
              width: 100%;
              margin: 5px 0;
              &:hover a {
                color: #333;
              }
              > a {
                display: block;
                width: 100%;
                font-size: 14px;
                color: #666;
              }
            }
          }
        }
      }
      .mobile-lang-box {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 auto;
        > ul {
          display: flex;
          flex-flow: row nowrap;
          > li {
            > button {
              font-size: 14px;
              color: #666;
            }
            &.on {
              > button {
                font-size: 14px;
                font-weight: 500;
                color: #d0112b;
              }
            }
            &:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .mobile-nav-bg {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
    }
    @media screen and (min-width: 1440px) {
      display: none !important;
    }
    @media screen and (max-width: 768px) {
      .mobile-nav {
        width: 100%;
      }
    }
  }
}
// 헤더
#header {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100px;

  width: 100%;
  height: auto;

  position: relative;
  z-index: 1;
  // GNB 배경
  #bg {
    width: 100%;
    height: 250px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;

    position: absolute;
    left: 0;

    transition: top 0.3s;

    &.off {
      opacity: 0;
      top: -100px;
    }

    &.on {
      opacity: 1;
      top: 100px;
    }
  }
  .inner {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;

    width: 100%;
    padding: 0 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    // 로고, GNB
    .left-area {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 0 auto;
      align-items: center;
      .logo {
        flex: 0 0 auto;
      }
      .gnb {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 auto;
        align-items: center;
        height: 100%;
        cursor: pointer;
        > ul {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          flex: 0 0 auto;
          height: 100%;
          > li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            flex: 1 1 auto;
            height: 100%;
            &:nth-child(3),
            &:last-child {
              a {
                padding: 0 20px;
              }
            }
            a {
              display: block;
              padding: 0 45px;
              > p {
                font-weight: 400;
                font-size: 20px;
              }
              &:hover {
                > p {
                  color: #d0112b;
                }
                .snb {
                  display: block;
                  top: 110px;
                }
              }
            }
            > .snb {
              position: absolute;
              top: 110px;
              transition: all 0.3s;
              z-index: 1;
              > dd {
                margin-bottom: 15px;
                &:hover {
                  a {
                    color: #d0112b;
                  }
                }
              }

              &.on {
                opacity: 1;
              }
              &.off {
                opacity: 0;
              }
            }
          }
        }
        &.drop {
          display: none;
        }
      }
    }
    // 언어 변경
    .right-area {
      display: flex;
      flex-flow: row nowrap;
      flex: 1 1 auto;
      justify-content: flex-end;
      align-items: center;

      > div {
        padding: 10px 35px;
        border: 1px solid #e0e0e0;
        border-radius: 40px;
        position: relative;
        cursor: pointer;
        p {
          padding-right: 10px;
        }
        &::before {
          display: block;
          content: "";
          width: 5px;
          height: 5px;
          border-top: 2px solid #333;
          border-left: 2px solid #333;
          transform: rotate(-135deg);
          position: absolute;
          top: 15px;
          right: 15px;
        }
        &.open {
          &::before {
            transform: rotate(45deg);
            top: 17px;
          }
          + .lang-list {
            display: flex !important;
          }
        }
      }
      .lang-list {
        display: none;
        flex-flow: column nowrap;

        width: 110px;
        height: auto;
        border: 1px solid #e0e0e0;
        overflow: hidden;
        position: absolute;
        z-index: 10;
        top: 69px;
        right: 100px;
        > .lang-list-item {
          display: flex;
          flex-flow: row nowrap;
          flex: 0 0 40px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:hover {
            background-color: #f6f5f5;
          }
          &:active {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1440px) {
    .inner {
      .left-area {
        .mobile-menu-btn {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 1440px) {
    #bg {
      display: none !important;
    }
    .inner {
      .left-area {
        flex: 1 1 auto;
        justify-content: flex-start;
        .logo {
          width: 180px;
        }
        .gnb {
          display: none;
        }
        .mobile-menu-btn {
          width: 24px;
          position: absolute;
          top: 50%;
          right: 100px;
          z-index: 0;
          transform: translate(0, -50%);
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .right-area {
        display: none;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .inner {
      padding: 0 20px;
      .left-area {
        flex: 1 1 auto;
        justify-content: center;
        .logo {
          width: 130px;
        }
        .gnb {
          display: none;
        }
        .mobile-menu-btn {
          width: 18px;
          right: 20px;
        }
      }
      .right-area {
        display: none;
      }
    }
  }
}
// 메일 슬라이드
#main {
  width: 100%;
  padding: 130px 0 100px;
  .inner {
    width: 100%;
    padding: 0 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    > article {
      display: flex;
      flex-flow: row nowrap;
      flex: 1 1 auto;
      width: 100%;
      .text {
        flex: 0 0 40%;
        display: flex;
        flex-flow: column nowrap;
        padding-top: 10px;
        padding-right: 20px;
        strong {
          font-weight: 400;
          font-size: 20px;
        }
        h3 {
          font-weight: 700;
          font-size: 34px;
          margin: 20px 0;
        }
        a {
          display: flex;
          flex-flow: row nowrap;
          flex: 0 0 40px;
          padding: 0 15px 0 20px;
          width: 210px;
          align-items: center;
          justify-content: space-between;
          background-color: #166936;
          border-radius: 40px;
          p {
            color: #fff;
          }
          > span {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 50%;
            margin-left: 10px;
            img {
              height: 12px;
            }
          }
        }
      }
      .slide {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 60%;
        .slide-bg {
          width: 72px;
          height: 480px;
          background: rgba(22, 105, 54, 0.16);
          border-radius: 40px 0px 0px 40px;
        }
        .slide-wrap {
          width: 100%;
          height: 480px;
          position: relative;
          overflow: hidden;
          .slide-btn-wrap {
            display: flex;
            flex-flow: row nowrap;
            width: 100px;
            height: 50px;

            position: absolute;
            top: 0;
            right: 0;
            > li {
              display: flex;
              flex-flow: row nowrap;
              flex: 0 0 50%;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              background-color: rgba(0, 0, 0, 0.2);
              button {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                img {
                  width: 13px;
                }
                &:disabled {
                  img {
                    filter: brightness(0.5);
                  }
                }
              }
              &:hover {
                background-color: rgba(0, 0, 0, 0.3);
              }
              &:active {
                background-color: rgba(0, 0, 0, 0.4);
              }
            }
          }
          .slide-item-list {
            width: 100%;
            height: 100%;
            overflow: hidden;
            .slide-item {
              width: 100%;
              height: 100%;
              background-color: transparent;
              display: none;
              &.on {
                display: block;
              }
              &.slide-1 {
                background-color: #00704a;
                a {
                  background-image: url("../assets/slide/slide\ \(1\).png");
                }
              }
              &.slide-2 {
                a {
                  background-image: url("../assets/slide/slide\ \(2\).png");
                }
              }
              &.slide-3 {
                a {
                  background-image: url("../assets/slide/slide\ \(3\).png");
                }
              }
              &.slide-4 {
                a {
                  background-image: url("../assets/slide/slide\ \(4\).png");
                }
              }
              > a {
                display: flex;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1440px) {
    padding: 100px 0;
    .inner {
      article {
        .text {
          padding-right: 10px;
          strong {
            font-size: 16px;
          }
          h3 {
            font-size: 30px;
          }
        }
        .slide {
          .slide-bg {
            height: 400px;
          }
          .slide-wrap {
            height: 400px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    padding: 20px 0 30px;
    .inner {
      padding: 0;
      article {
        display: flex;
        flex-flow: column-reverse nowrap;
        .text {
          align-items: center;
          justify-content: center;
          flex: 0 0 auto;
          width: 100%;
          min-height: 210px;
          padding: 20px;
          background: rgba(22, 105, 54, 0.16);
          border-radius: 0px 0px 40px 40px;
          strong {
            font-size: 14px;
          }
          h3 {
            margin: 10px 0;
            text-align: center;
            font-size: 24px;
          }
          a {
            width: 180px;
            p {
              font-size: 12px;
            }
          }
        }
        .slide {
          display: flex;
          flex-flow: column nowrap;
          flex: 0 0 auto;
          width: 100%;
          .slide-bg {
            display: none;
          }
          .slide-wrap {
            flex: 0 0 auto;
            .slide-btn-wrap {
              width: 80px;
              height: 40px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0 0 30px;
  }
}
#container {
  width: 100%;
  .section-title {
    display: inline-block;
    width: fit-content;
    font-weight: 700;
    font-size: 28px;
    color: #333;
    padding-bottom: 10px;
    position: relative;
    &::before {
      display: block;
      content: "";
      width: 100%;
      height: 6px;
      background: #166936;
      border-radius: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    @media screen and (max-width: 1440px) {
      font-size: 24px;
    }
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  .cont1 {
    width: 100%;
    .inner {
      width: 100%;
      padding: 0 100px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      .top-area {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 30px;
        .left-area {
          display: flex;
          flex-flow: column nowrap;
          padding-right: 15px;
          > a {
            flex: 0 0 auto;
            margin-top: auto;
          }
        }
        .right-area {
          padding-left: 15px;
          > a {
            display: block;
          }
        }
      }
      .bottom-area {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        flex: 0 0 auto;
        height: 240px;
        .banner {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          width: initial;
          height: 240px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .link {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-left: 30px;
          width: 280px;
          height: 100%;
          background: #166936;
          border-radius: 26px;
          p {
            font-weight: 700;
            font-size: 32px;
            color: #fff;
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      margin: 20px 0;
      .inner {
        .top-area {
          flex-flow: column nowrap;
          .left-area {
            > a {
              display: none;
            }
          }
          .right-area {
            padding: 0;
            > a {
              width: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 1135px) {
      .inner {
        .top-area {
          margin-bottom: 15px;
        }
        .bottom-area {
          height: 100px;
          .banner {
            display: none;
          }
          .link {
            width: 100%;
            height: 100px;
            margin: 0;
            p {
              font-size: 20px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      .inner {
        padding: 0 20px;
        .top-area {
          margin-bottom: 15px;
        }
        .bottom-area {
          height: 60px;
          .link {
            height: 60px;
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .cont2 {
    width: 100%;
    margin: 70px 0;
    .inner {
      width: 100%;
      padding: 0 100px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      position: relative;
      .title {
        margin-bottom: 60px;
      }
      .event-slide-btn-wrap {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        width: 94%;
        > button {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.2);
          width: 40px;
          height: 40px;
          img {
            width: 13px;
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.3);
          }
          &:active {
            background-color: rgba(0, 0, 0, 0.4);
          }
        }
      }
      .event-slide {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
        .event-slide-item {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          flex: 0 0 auto;
          > a {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            flex: 0 0 calc(100% / 3 - 20px);
            margin-right: 10px;
            overflow: hidden;
            border-radius: 26px;
            img {
              width: 100%;
              height: 100%;
            }
            &:hover {
              img {
                transform: scale(1.1);
                transition: all 0.5s;
                filter: brightness(0.8);
              }
            }
            &:nth-of-type(3) {
              margin-right: 0;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      margin: 40px 0;
      .inner {
        .title {
          margin-bottom: 30px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .inner {
        padding: 0 20px;
        .event-slide-btn-wrap {
          width: 100%;
          top: 67%;
          button {
            width: 36px;
            height: 36px;
          }
        }
        .event-slide {
          width: 90%;
          margin: 0 auto;
          .event-slide-item {
            > a {
              flex: 0 0 calc(100% / 3 - 10px);
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .cont3 {
    display: flex;
    flex-flow: column nowrap;
    margin: 140px 0 100px;
    width: 100%;
    .title {
      margin: 0 100px;
      width: 100%;
      h2 {
        margin-bottom: 40px;
      }
    }
    .sns-slide {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      .sns-slide-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        > a {
          flex: 0 0 calc(100% / 3);
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
          &:hover {
            img {
              transform: scale(1.1);
              transition: all 0.5s;
              filter: brightness(0.8);
            }
          }
        }
      }
    }
    .link {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      flex: 0 0 40px;
      margin: 20px 0;
      a {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 auto;
        padding: 0 15px 0 20px;
        width: 290px;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        background-color: #166936;
        border-radius: 40px;
        p {
          color: #fff;
        }
        > span {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          background-color: #fff;
          border-radius: 50%;
          margin-left: 10px;
          img {
            height: 12px;
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      a {
        width: 240px;
        p {
          font-size: 12px;
        }
      }
      .sns-slide {
        display: flex;
        flex-flow: column nowrap;
      }
    }
    @media screen and (max-width: 768px) {
      .title {
        margin: 0 20px;
      }
    }
  }
  .cont4 {
    margin: 60px 0 0;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    background-color: #166936;
    height: 250px;
    .inner {
      width: 100%;
      padding: 0 100px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .notice {
        display: flex;
        flex-flow: column nowrap;
        flex: 0 0 60%;
        padding: 30px 0;
        .title {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          h2 {
            color: #fff;
            display: inline-block;
            width: fit-content;
            font-weight: 700;
            font-size: 28px;
            padding-bottom: 10px;
            position: relative;
            @media screen and (max-width: 1440px) {
              font-size: 24px;
            }
            @media screen and (max-width: 768px) {
              font-size: 18px;
            }
          }
          a {
            color: #fff;
            font-size: 16px;
            text-decoration: underline;
          }
        }
        > ul {
          display: flex;
          flex-flow: column nowrap;
          flex: 1 1 auto;
          > li {
            display: flex;
            flex-flow: row nowrap;
            flex: 0 0 40px;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #e2ffed;
            a {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              width: 100%;
              &:hover {
                span,
                strong {
                  text-decoration: underline;
                }
              }
              span {
                color: #f3f3f3;
                font-size: 14px;
              }
              strong {
                color: #fff;
                font-size: 16px;
                margin-left: 10px;
              }
            }
            p {
              color: #f3f3f3;
              font-size: 12px;
            }
          }
        }
      }
      > ul {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 calc(40% - 30px);
        margin-left: 30px;
        width: 100%;
        height: 100%;
        > li {
          flex: 0 0 50%;
          height: 100%;
          background: #eff1ef;
          transition: all 0.3s;
          &:hover {
            background: #e3e7e3;
          }
          &:first-child {
            border-right: 1px solid #ccc;
          }
          > a {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            img {
              height: 40px;
              margin-bottom: 12px;
            }
            span {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 6px;
              color: #333;
            }
            p {
              font-size: 12px;
              margin-bottom: 2px;
              color: #666666;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1440px) {
    }
    @media screen and (max-width: 1200px) {
      margin: 40px 0 35px;
      height: 100%;
      max-height: 350px;
      background-color: transparent;
      .inner {
        padding: 0;
        flex-flow: column nowrap;
        .notice {
          width: 100%;
          flex: 0 0 auto;
          padding: 20px 100px;
          background-color: #166936;
        }
        > ul {
          flex: 1 1 auto;
          margin: 0;
          > li {
            a {
              img {
                height: 30px;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      .inner {
        padding: 0;
        .notice {
          padding: 20px 20px;
        }
      }
    }
  }
}

#footer {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 260px;
  flex: 0 0 auto;
  background: #2d2d2d;
  .inner {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 0 100px;
    .link {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      flex: 0 0 50px;
      align-items: center;
      justify-content: flex-end;
      .sns {
        display: flex;
        flex-flow: row nowrap;
        margin: 20px 0;
        a {
          display: block;
          width: 40px;
          height: 40px;
          &:nth-of-type(2) {
            margin-left: 10px;
          }
          &:hover {
            img {
              filter: brightness(1.3);
            }
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .info-wrap {
      display: flex;
      flex-flow: row nowrap;
      margin-top: 20px;
      .info {
        > ul {
          display: flex;
          flex-flow: row nowrap;
          > li {
            a {
              color: #ccc;
              font-size: 14px;
              margin-right: 10px;
            }
            &:hover {
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
    address {
      display: flex;
      flex-flow: column nowrap;
      margin-top: 20px;
      p {
        color: #ccc;
        font-size: 13px;
        margin-bottom: 5px;
      }
    }
    .copy {
      color: #ccc;
      font-size: 12px;
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 1200px) {
    max-height: 300px;
    .inner {
      .link {
        justify-content: space-between;
      }
      .info-wrap {
        flex-flow: column nowrap;
      }
    }
  }
  @media screen and (max-width: 768px) {
    max-height: 320px;
    .inner {
      padding: 0 20px;
      .info-wrap {
        flex-flow: row nowrap;
        .info {
          margin-right: 20px;
          ul {
            flex-flow: column nowrap;
            li {
              margin-bottom: 5px;
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
      address {
        p {
          font-size: 10px;
        }
      }
      .copy {
        font-size: 10px;
      }
    }
  }
}
