#root {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  background-color: #fff;
  overflow: hidden auto;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  align-items: flex-start;
  justify-content: flex-start;
}
#root .hidden {
  display: none;
}
#root .modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#root .modal-bg.on {
  display: block;
}
#root .mobile-nav-root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}
#root .mobile-nav-root.on {
  display: block;
}
#root .mobile-nav-root .mobile-nav {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
}
#root .mobile-nav-root .mobile-nav > ul {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}
#root .mobile-nav-root .mobile-nav > ul > li {
  flex: 0 0 30px;
  margin-bottom: 10px;
}
#root .mobile-nav-root .mobile-nav > ul > li .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  height: 30px;
}
#root .mobile-nav-root .mobile-nav > ul > li .title > .mobile-close-btn {
  flex: 0 0 auto;
  width: 20px;
}
#root .mobile-nav-root .mobile-nav > ul > li .title > .mobile-close-btn:hover img {
  filter: brightness(1.5);
}
#root .mobile-nav-root .mobile-nav > ul > li .title > .mobile-close-btn img {
  width: 100%;
  height: 100%;
}
#root .mobile-nav-root .mobile-nav > ul > li:hover > a > p {
  color: #d0112b;
}
#root .mobile-nav-root .mobile-nav > ul > li > a > p {
  font-size: 18px;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb {
  height: 0;
  max-height: 0;
  overflow: hidden;
  margin-top: 10px;
  transition: all 0.3s ease;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb.on {
  height: auto;
  max-height: 300px;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb > dd {
  width: 100%;
  margin: 5px 0;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb > dd:hover a {
  color: #333;
}
#root .mobile-nav-root .mobile-nav > ul > li .mobile-snb > dd > a {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #666;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box > ul {
  display: flex;
  flex-flow: row nowrap;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box > ul > li > button {
  font-size: 14px;
  color: #666;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box > ul > li.on > button {
  font-size: 14px;
  font-weight: 500;
  color: #d0112b;
}
#root .mobile-nav-root .mobile-nav .mobile-lang-box > ul > li:first-child {
  margin-right: 10px;
}
#root .mobile-nav-root .mobile-nav-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
@media screen and (min-width: 1440px) {
  #root .mobile-nav-root {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  #root .mobile-nav-root .mobile-nav {
    width: 100%;
  }
}

#header {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
#header #bg {
  width: 100%;
  height: 250px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  left: 0;
  transition: top 0.3s;
}
#header #bg.off {
  opacity: 0;
  top: -100px;
}
#header #bg.on {
  opacity: 1;
  top: 100px;
}
#header .inner {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  width: 100%;
  padding: 0 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#header .inner .left-area {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  align-items: center;
}
#header .inner .left-area .logo {
  flex: 0 0 auto;
}
#header .inner .left-area .gnb {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
#header .inner .left-area .gnb > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
}
#header .inner .left-area .gnb > ul > li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
}
#header .inner .left-area .gnb > ul > li:nth-child(3) a, #header .inner .left-area .gnb > ul > li:last-child a {
  padding: 0 20px;
}
#header .inner .left-area .gnb > ul > li a {
  display: block;
  padding: 0 45px;
}
#header .inner .left-area .gnb > ul > li a > p {
  font-weight: 400;
  font-size: 20px;
}
#header .inner .left-area .gnb > ul > li a:hover > p {
  color: #d0112b;
}
#header .inner .left-area .gnb > ul > li a:hover .snb {
  display: block;
  top: 110px;
}
#header .inner .left-area .gnb > ul > li > .snb {
  position: absolute;
  top: 110px;
  transition: all 0.3s;
  z-index: 1;
}
#header .inner .left-area .gnb > ul > li > .snb > dd {
  margin-bottom: 15px;
}
#header .inner .left-area .gnb > ul > li > .snb > dd:hover a {
  color: #d0112b;
}
#header .inner .left-area .gnb > ul > li > .snb.on {
  opacity: 1;
}
#header .inner .left-area .gnb > ul > li > .snb.off {
  opacity: 0;
}
#header .inner .left-area .gnb.drop {
  display: none;
}
#header .inner .right-area {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
}
#header .inner .right-area > div {
  padding: 10px 35px;
  border: 1px solid #e0e0e0;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
}
#header .inner .right-area > div p {
  padding-right: 10px;
}
#header .inner .right-area > div::before {
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  transform: rotate(-135deg);
  position: absolute;
  top: 15px;
  right: 15px;
}
#header .inner .right-area > div.open::before {
  transform: rotate(45deg);
  top: 17px;
}
#header .inner .right-area > div.open + .lang-list {
  display: flex !important;
}
#header .inner .right-area .lang-list {
  display: none;
  flex-flow: column nowrap;
  width: 110px;
  height: auto;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 69px;
  right: 100px;
}
#header .inner .right-area .lang-list > .lang-list-item {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#header .inner .right-area .lang-list > .lang-list-item:hover {
  background-color: #f6f5f5;
}
#header .inner .right-area .lang-list > .lang-list-item:active {
  background-color: #f2f2f2;
}
@media screen and (min-width: 1440px) {
  #header .inner .left-area .mobile-menu-btn {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  #header #bg {
    display: none !important;
  }
  #header .inner .left-area {
    flex: 1 1 auto;
    justify-content: flex-start;
  }
  #header .inner .left-area .logo {
    width: 180px;
  }
  #header .inner .left-area .gnb {
    display: none;
  }
  #header .inner .left-area .mobile-menu-btn {
    width: 24px;
    position: absolute;
    top: 50%;
    right: 100px;
    z-index: 0;
    transform: translate(0, -50%);
  }
  #header .inner .left-area .mobile-menu-btn img {
    width: 100%;
    height: 100%;
  }
  #header .inner .right-area {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #header .inner {
    padding: 0 20px;
  }
  #header .inner .left-area {
    flex: 1 1 auto;
    justify-content: center;
  }
  #header .inner .left-area .logo {
    width: 130px;
  }
  #header .inner .left-area .gnb {
    display: none;
  }
  #header .inner .left-area .mobile-menu-btn {
    width: 18px;
    right: 20px;
  }
  #header .inner .right-area {
    display: none;
  }
}

#main {
  width: 100%;
  padding: 130px 0 100px;
}
#main .inner {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
#main .inner > article {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  width: 100%;
}
#main .inner > article .text {
  flex: 0 0 40%;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 10px;
  padding-right: 20px;
}
#main .inner > article .text strong {
  font-weight: 400;
  font-size: 20px;
}
#main .inner > article .text h3 {
  font-weight: 700;
  font-size: 34px;
  margin: 20px 0;
}
#main .inner > article .text a {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 40px;
  padding: 0 15px 0 20px;
  width: 210px;
  align-items: center;
  justify-content: space-between;
  background-color: #166936;
  border-radius: 40px;
}
#main .inner > article .text a p {
  color: #fff;
}
#main .inner > article .text a > span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 10px;
}
#main .inner > article .text a > span img {
  height: 12px;
}
#main .inner > article .slide {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 60%;
}
#main .inner > article .slide .slide-bg {
  width: 72px;
  height: 480px;
  background: rgba(22, 105, 54, 0.16);
  border-radius: 40px 0px 0px 40px;
}
#main .inner > article .slide .slide-wrap {
  width: 100%;
  height: 480px;
  position: relative;
  overflow: hidden;
}
#main .inner > article .slide .slide-wrap .slide-btn-wrap {
  display: flex;
  flex-flow: row nowrap;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
#main .inner > article .slide .slide-wrap .slide-btn-wrap > li {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
#main .inner > article .slide .slide-wrap .slide-btn-wrap > li button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#main .inner > article .slide .slide-wrap .slide-btn-wrap > li button img {
  width: 13px;
}
#main .inner > article .slide .slide-wrap .slide-btn-wrap > li button:disabled img {
  filter: brightness(0.5);
}
#main .inner > article .slide .slide-wrap .slide-btn-wrap > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#main .inner > article .slide .slide-wrap .slide-btn-wrap > li:active {
  background-color: rgba(0, 0, 0, 0.4);
}
#main .inner > article .slide .slide-wrap .slide-item-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main .inner > article .slide .slide-wrap .slide-item-list .slide-item {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
}
#main .inner > article .slide .slide-wrap .slide-item-list .slide-item.on {
  display: block;
}
#main .inner > article .slide .slide-wrap .slide-item-list .slide-item.slide-1 {
  background-color: #00704a;
}
#main .inner > article .slide .slide-wrap .slide-item-list .slide-item.slide-1 a {
  background-image: url("../assets/slide/slide (1).png");
}
#main .inner > article .slide .slide-wrap .slide-item-list .slide-item.slide-2 a {
  background-image: url("../assets/slide/slide (2).png");
}
#main .inner > article .slide .slide-wrap .slide-item-list .slide-item.slide-3 a {
  background-image: url("../assets/slide/slide (3).png");
}
#main .inner > article .slide .slide-wrap .slide-item-list .slide-item.slide-4 a {
  background-image: url("../assets/slide/slide (4).png");
}
#main .inner > article .slide .slide-wrap .slide-item-list .slide-item > a {
  display: flex;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
@media screen and (max-width: 1440px) {
  #main {
    padding: 100px 0;
  }
  #main .inner article .text {
    padding-right: 10px;
  }
  #main .inner article .text strong {
    font-size: 16px;
  }
  #main .inner article .text h3 {
    font-size: 30px;
  }
  #main .inner article .slide .slide-bg {
    height: 400px;
  }
  #main .inner article .slide .slide-wrap {
    height: 400px;
  }
}
@media screen and (max-width: 1200px) {
  #main {
    padding: 20px 0 30px;
  }
  #main .inner {
    padding: 0;
  }
  #main .inner article {
    display: flex;
    flex-flow: column-reverse nowrap;
  }
  #main .inner article .text {
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    background: rgba(22, 105, 54, 0.16);
    border-radius: 0px 0px 40px 40px;
  }
  #main .inner article .text strong {
    font-size: 14px;
  }
  #main .inner article .text h3 {
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
  }
  #main .inner article .text a {
    width: 180px;
  }
  #main .inner article .text a p {
    font-size: 12px;
  }
  #main .inner article .slide {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    width: 100%;
  }
  #main .inner article .slide .slide-bg {
    display: none;
  }
  #main .inner article .slide .slide-wrap {
    flex: 0 0 auto;
  }
  #main .inner article .slide .slide-wrap .slide-btn-wrap {
    width: 80px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  #main {
    padding: 0 0 30px;
  }
}

#container {
  width: 100%;
}
#container .section-title {
  display: inline-block;
  width: fit-content;
  font-weight: 700;
  font-size: 28px;
  color: #333;
  padding-bottom: 10px;
  position: relative;
}
#container .section-title::before {
  display: block;
  content: "";
  width: 100%;
  height: 6px;
  background: #166936;
  border-radius: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 1440px) {
  #container .section-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  #container .section-title {
    font-size: 18px;
  }
}
#container .cont1 {
  width: 100%;
}
#container .cont1 .inner {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
#container .cont1 .inner .top-area {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 30px;
}
#container .cont1 .inner .top-area .left-area {
  display: flex;
  flex-flow: column nowrap;
  padding-right: 15px;
}
#container .cont1 .inner .top-area .left-area > a {
  flex: 0 0 auto;
  margin-top: auto;
}
#container .cont1 .inner .top-area .right-area {
  padding-left: 15px;
}
#container .cont1 .inner .top-area .right-area > a {
  display: block;
}
#container .cont1 .inner .bottom-area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  flex: 0 0 auto;
  height: 240px;
}
#container .cont1 .inner .bottom-area .banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: initial;
  height: 240px;
}
#container .cont1 .inner .bottom-area .banner img {
  width: 100%;
  height: 100%;
}
#container .cont1 .inner .bottom-area .link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 30px;
  width: 280px;
  height: 100%;
  background: #166936;
  border-radius: 26px;
}
#container .cont1 .inner .bottom-area .link p {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  #container .cont1 {
    margin: 20px 0;
  }
  #container .cont1 .inner .top-area {
    flex-flow: column nowrap;
  }
  #container .cont1 .inner .top-area .left-area > a {
    display: none;
  }
  #container .cont1 .inner .top-area .right-area {
    padding: 0;
  }
  #container .cont1 .inner .top-area .right-area > a {
    width: 100%;
  }
  #container .cont1 .inner .top-area .right-area > a img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1135px) {
  #container .cont1 .inner .top-area {
    margin-bottom: 15px;
  }
  #container .cont1 .inner .bottom-area {
    height: 100px;
  }
  #container .cont1 .inner .bottom-area .banner {
    display: none;
  }
  #container .cont1 .inner .bottom-area .link {
    width: 100%;
    height: 100px;
    margin: 0;
  }
  #container .cont1 .inner .bottom-area .link p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  #container .cont1 .inner {
    padding: 0 20px;
  }
  #container .cont1 .inner .top-area {
    margin-bottom: 15px;
  }
  #container .cont1 .inner .bottom-area {
    height: 60px;
  }
  #container .cont1 .inner .bottom-area .link {
    height: 60px;
  }
  #container .cont1 .inner .bottom-area .link p {
    font-size: 16px;
  }
}
#container .cont2 {
  width: 100%;
  margin: 70px 0;
}
#container .cont2 .inner {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: relative;
}
#container .cont2 .inner .title {
  margin-bottom: 60px;
}
#container .cont2 .inner .event-slide-btn-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 94%;
}
#container .cont2 .inner .event-slide-btn-wrap > button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
}
#container .cont2 .inner .event-slide-btn-wrap > button img {
  width: 13px;
}
#container .cont2 .inner .event-slide-btn-wrap > button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#container .cont2 .inner .event-slide-btn-wrap > button:active {
  background-color: rgba(0, 0, 0, 0.4);
}
#container .cont2 .inner .event-slide {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}
#container .cont2 .inner .event-slide .event-slide-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 0 0 auto;
}
#container .cont2 .inner .event-slide .event-slide-item > a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(33.3333333333% - 20px);
  margin-right: 10px;
  overflow: hidden;
  border-radius: 26px;
}
#container .cont2 .inner .event-slide .event-slide-item > a img {
  width: 100%;
  height: 100%;
}
#container .cont2 .inner .event-slide .event-slide-item > a:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
  filter: brightness(0.8);
}
#container .cont2 .inner .event-slide .event-slide-item > a:nth-of-type(3) {
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  #container .cont2 {
    margin: 40px 0;
  }
  #container .cont2 .inner .title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  #container .cont2 .inner {
    padding: 0 20px;
  }
  #container .cont2 .inner .event-slide-btn-wrap {
    width: 100%;
    top: 67%;
  }
  #container .cont2 .inner .event-slide-btn-wrap button {
    width: 36px;
    height: 36px;
  }
  #container .cont2 .inner .event-slide {
    width: 90%;
    margin: 0 auto;
  }
  #container .cont2 .inner .event-slide .event-slide-item > a {
    flex: 0 0 calc(33.3333333333% - 10px);
    margin-right: 5px;
  }
}
#container .cont3 {
  display: flex;
  flex-flow: column nowrap;
  margin: 140px 0 100px;
  width: 100%;
}
#container .cont3 .title {
  margin: 0 100px;
  width: 100%;
}
#container .cont3 .title h2 {
  margin-bottom: 40px;
}
#container .cont3 .sns-slide {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#container .cont3 .sns-slide .sns-slide-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#container .cont3 .sns-slide .sns-slide-item > a {
  flex: 0 0 33.3333333333%;
  overflow: hidden;
}
#container .cont3 .sns-slide .sns-slide-item > a img {
  width: 100%;
  height: 100%;
}
#container .cont3 .sns-slide .sns-slide-item > a:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
  filter: brightness(0.8);
}
#container .cont3 .link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  flex: 0 0 40px;
  margin: 20px 0;
}
#container .cont3 .link a {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  padding: 0 15px 0 20px;
  width: 290px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  background-color: #166936;
  border-radius: 40px;
}
#container .cont3 .link a p {
  color: #fff;
}
#container .cont3 .link a > span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 10px;
}
#container .cont3 .link a > span img {
  height: 12px;
}
@media screen and (max-width: 1200px) {
  #container .cont3 a {
    width: 240px;
  }
  #container .cont3 a p {
    font-size: 12px;
  }
  #container .cont3 .sns-slide {
    display: flex;
    flex-flow: column nowrap;
  }
}
@media screen and (max-width: 768px) {
  #container .cont3 .title {
    margin: 0 20px;
  }
}
#container .cont4 {
  margin: 60px 0 0;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  background-color: #166936;
  height: 250px;
}
#container .cont4 .inner {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#container .cont4 .inner .notice {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 60%;
  padding: 30px 0;
}
#container .cont4 .inner .notice .title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#container .cont4 .inner .notice .title h2 {
  color: #fff;
  display: inline-block;
  width: fit-content;
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 10px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  #container .cont4 .inner .notice .title h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  #container .cont4 .inner .notice .title h2 {
    font-size: 18px;
  }
}
#container .cont4 .inner .notice .title a {
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
}
#container .cont4 .inner .notice > ul {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}
#container .cont4 .inner .notice > ul > li {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2ffed;
}
#container .cont4 .inner .notice > ul > li a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}
#container .cont4 .inner .notice > ul > li a:hover span,
#container .cont4 .inner .notice > ul > li a:hover strong {
  text-decoration: underline;
}
#container .cont4 .inner .notice > ul > li a span {
  color: #f3f3f3;
  font-size: 14px;
}
#container .cont4 .inner .notice > ul > li a strong {
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
}
#container .cont4 .inner .notice > ul > li p {
  color: #f3f3f3;
  font-size: 12px;
}
#container .cont4 .inner > ul {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 calc(40% - 30px);
  margin-left: 30px;
  width: 100%;
  height: 100%;
}
#container .cont4 .inner > ul > li {
  flex: 0 0 50%;
  height: 100%;
  background: #eff1ef;
  transition: all 0.3s;
}
#container .cont4 .inner > ul > li:hover {
  background: #e3e7e3;
}
#container .cont4 .inner > ul > li:first-child {
  border-right: 1px solid #ccc;
}
#container .cont4 .inner > ul > li > a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#container .cont4 .inner > ul > li > a img {
  height: 40px;
  margin-bottom: 12px;
}
#container .cont4 .inner > ul > li > a span {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}
#container .cont4 .inner > ul > li > a p {
  font-size: 12px;
  margin-bottom: 2px;
  color: #666666;
}
@media screen and (max-width: 1200px) {
  #container .cont4 {
    margin: 40px 0 35px;
    height: 100%;
    max-height: 350px;
    background-color: transparent;
  }
  #container .cont4 .inner {
    padding: 0;
    flex-flow: column nowrap;
  }
  #container .cont4 .inner .notice {
    width: 100%;
    flex: 0 0 auto;
    padding: 20px 100px;
    background-color: #166936;
  }
  #container .cont4 .inner > ul {
    flex: 1 1 auto;
    margin: 0;
  }
  #container .cont4 .inner > ul > li a img {
    height: 30px;
  }
}
@media screen and (max-width: 768px) {
  #container .cont4 .inner {
    padding: 0;
  }
  #container .cont4 .inner .notice {
    padding: 20px 20px;
  }
}

#footer {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 260px;
  flex: 0 0 auto;
  background: #2d2d2d;
}
#footer .inner {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 0 100px;
}
#footer .inner .link {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  flex: 0 0 50px;
  align-items: center;
  justify-content: flex-end;
}
#footer .inner .link .sns {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px 0;
}
#footer .inner .link .sns a {
  display: block;
  width: 40px;
  height: 40px;
}
#footer .inner .link .sns a:nth-of-type(2) {
  margin-left: 10px;
}
#footer .inner .link .sns a:hover img {
  filter: brightness(1.3);
}
#footer .inner .link .sns a img {
  width: 100%;
  height: 100%;
}
#footer .inner .info-wrap {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}
#footer .inner .info-wrap .info > ul {
  display: flex;
  flex-flow: row nowrap;
}
#footer .inner .info-wrap .info > ul > li a {
  color: #ccc;
  font-size: 14px;
  margin-right: 10px;
}
#footer .inner .info-wrap .info > ul > li:hover a {
  color: #fff;
}
#footer .inner address {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
}
#footer .inner address p {
  color: #ccc;
  font-size: 13px;
  margin-bottom: 5px;
}
#footer .inner .copy {
  color: #ccc;
  font-size: 12px;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  #footer {
    max-height: 300px;
  }
  #footer .inner .link {
    justify-content: space-between;
  }
  #footer .inner .info-wrap {
    flex-flow: column nowrap;
  }
}
@media screen and (max-width: 768px) {
  #footer {
    max-height: 320px;
  }
  #footer .inner {
    padding: 0 20px;
  }
  #footer .inner .info-wrap {
    flex-flow: row nowrap;
  }
  #footer .inner .info-wrap .info {
    margin-right: 20px;
  }
  #footer .inner .info-wrap .info ul {
    flex-flow: column nowrap;
  }
  #footer .inner .info-wrap .info ul li {
    margin-bottom: 5px;
  }
  #footer .inner .info-wrap .info ul li a {
    font-size: 12px;
  }
  #footer .inner address p {
    font-size: 10px;
  }
  #footer .inner .copy {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
